body{
    padding: 0;
    margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2fbff;
    overflow: hidden;
  }

/* Moves logo all the way to the left */
.logo-container{
    margin-right: auto;
}

/* Style for Company Logo */
#logo{
    margin-top: 3px;
    margin-left: 3px;
    width: 45px;
    height: 45px;
}

/* Style for center links */
.links-container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Borders for links-container */
#home{
    border-right: solid black;
}
#about{
    border-right: solid black;
}
#services{
    border-right: solid black;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.login-container a {
    padding: 12px 8px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: wheat;
    color: black;
    border-radius: 5px;
}