html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Add a black background color to the top navigation */
.topnav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

/* Moves logo all the way to the left */
.logo-container{
    margin-right: auto;
}

/* Style for Company Logo */
#logo{
    margin-top: 3px;
    margin-left: 3px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
}

/* Style for center links */
.links-container{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Borders for links-container */
#home{
    border-left: solid wheat;
}

#contact{
    border-right: solid wheat;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: white    ;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/* Reduced space between 'login' & 'register' */
.login-container a {
    padding: 12px 8px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: wheat;
    color: black;
    border-radius: 5px;
    text-decoration: underline;
}

/* For the main home page */
.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

/* h1 on top of paragraph */
.companyIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f4f4f4;
    padding: 15px;
    box-shadow: 5px 5px 150px #f9f4fe;
    border-radius: 10px;
    transition: all 1s ease-out;
}

/* Transition effect */
.companyIntro:hover{
    transform: scale(1.25);
    box-shadow: 0px 0px 500px rgb(201, 201, 201);
}

h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    margin-bottom: 10px;
    color: black;
    text-shadow: 0px 0px 2px black, 0 0 25px lightblue, 0 0 100px lightblue;
}
p{
    font-family: "Poppins", Sans-serif;
    text-align: center;
    max-width: 350px;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 20px;
    color: lightslategray;
}

/* For 'Book a Consultation' button */
#book{
    text-align: center;
    background-color: white;
    width: 150px;
    height: 30px;
    font-weight: bold;
    border: solid black;
    color: black;
    border-radius: 5px;
}

#book:hover{
    background-color: black;
    color: white;
}

/* Image of the PC on the homepage */
#pc-build{
    margin-left: 10%;
    width: 700px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 75px #affcff;
}

/* Main layout for the 3 tiles */
.tiles-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
    padding: 50px;
    padding-bottom: 20%;
    scroll-behavior: smooth;
}

/* Makes the tiles evenly spread out on the x-axis */
.tiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0.5;
}

.tiles h3{  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    color: wheat;
    text-decoration: solid underline overline;
    height: 450px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    border: 3px solid black;
}

.tiles .repair-tile{
    background-image: url("/images/RepairTile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.tiles .products-tile{
    background-image: url("/images/4090gpu.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.tiles .other-services-tile{
    background-image: url("/images/HDD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}
